<% layout ("/layouts/boilerplate") %>
<body>
    <h1>All Listings</h1>
    <!-- <form method="GET" action="/listing/new">
        <button>create new listing</button>
    </form> -->
    <ul>
        <%for(let listings of allListings){%>
            <li><a href="/listings/<%=listings._id%>"><%=listings.title%></a></li>
        <%}%>
    </ul>
</body>
